// global config
$serif: -apple-system, BlinkMacSystemFont, "Helvetica Neue", Helvetica, "PingFang SC",
  "Microsoft YaHei", sans-serif;
$sans-serif: "Fira Code", Consolas, "Lucida Console", "Courier", monospace, "Helvetica Neue",
  Helvetica, Arial, sans-serif;
$box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
$global: (
  root-size: 16px,
  serif: $serif,
  sans-serif: $sans-serif,
  write-width: 90%,
  bd-radius-4: 4px,
  bd-radius-6: 6px,
  box-shadow: $box-shadow,
  bg: #181a1b,
  color: rgb(171, 192, 208),
  selected-bg: #67769660,
  hover-bg: rgb(62, 66, 73),
  dropdown-bg: rgb(34, 37, 38),
  bd-1-dark: 1px solid rgba(171, 192, 208, 0.1),
  unfocus: #585a5b
);

// code-fences color
$code-fences: (
  bg: rgb(34, 37, 38),
  normal-color: #abb2bf,
  linenumber-color: #737984,
  cursor-color: #528bff,
  text-selected-bg: #bac6e9,
  code-selected-bg: rgb(64, 72, 89),
  code-tooltip-color: #fff
);

$code-color: (
  keyword: #c678dd,
  operator: #56b6c2,
  variable: #d19a66,
  variable-2: #e06c75,
  variable-3: #e06c75,
  builtin: #e8bf6a,
  atom: #d19a66,
  number: #d19a66,
  def: #e06c75,
  string: #98c379,
  string-2: #80cbc4,
  comment: #629755,
  tag: #e06c75,
  meta: #e06c75,
  attribute: #d19a66,
  property: #61afef,
  qualifier: #decb6b,
  error: #fff,
  bracket: #abb2bf
);

// format menu
// strong,underline,hightlight etc.
$format: (
  strong-bg: inherit,
  strong-color: #b5302e,
  emphasis-bg: inherit,
  emphasis-color: #949415,
  u-bg: inherit,
  u-color: inherit,
  u-bd: #f00,
  code-bg: rgba(34, 37, 38, 0.05),
  code-color: #e96900,
  strike-bg: inherit,
  strike-color: #999,
  mark-bg: #ff0,
  mark-color: #282c34,
  hyperlink-bg: inherit,
  hyperlink-color: rgb(36, 132, 193)
);

// paragraph menu
// blockquote, table, task-list etc.
$paragraph: (
  // h1-h3
  h-style: normal,
  h12-align: center,
  h1-size: 3rem,
  h2-size: 2.4rem,
  h3-size: 1.8rem,
  h2-bd: rgb(171, 192, 208),
  // blockquote
  bq-bd-width: 8px,
  bq-bd: rgb(47, 132, 94),
  bq-bg: rgb(34, 37, 38),
  // horizontal line
  hr-shape: dashed,
  hr-bd: #abb2bf,
  // table
  table-bd: rgb(47, 132, 94),
  table-thead-bg: rgb(47, 132, 94),
  table-thead-color: #000,
  table-edit-bg: rgb(34, 37, 38),
  // yaml front matter
  front-matter-bg: rgb(34, 37, 38),
  front-matter-color: rgb(134, 165, 195),
  // task list
  task-bd-shape: 50%,
  task-bd: rgb(171, 192, 208),
  task-bg: rgb(34, 37, 38),
  task-done-bg: #67c23a,
  task-done-icon: #fff,
  task-done-color: #999,
  // math,html block
  math-html-block-bg: rgb(34, 37, 38),
  math-block-color: #abb2bf
);

// ui control
$ui-control: (
  // sidebar
  sidebar-file-acitve-bd: rgb(47, 132, 94),
  sidebar-file-acitve-bg: rgb(34, 37, 38),
  sidebar-menu-bg: #181a1b,
  // scrollBar
  sb-bg: linear-gradient(to top right, #41b782, #86d169),
  // quick open
  qo-color: rgb(171, 192, 208),
  // modal dialog
  m-d-bg: rgb(34, 37, 38),
  // preferences
  pf-color: #282c34,
  pf-nav-item-active-color: #efefef,
  pf-nav-item-active-bg: rgb(47, 132, 94)
);
